<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Prediction App</title>
</head>
<body>
    <h1>Crop Prediction App</h1>
    
    <form action="/predict" method="post">
        <label for="N">Nitrogen (N):</label>
        <input type="text" name="N" required><br>

        <label for="P">Phosphorus (P):</label>
        <input type="text" name="P" required><br>

        <label for="K">Potassium (K):</label>
        <input type="text" name="K" required><br>

        <label for="temperature">Temperature:</label>
        <input type="text" name="temperature" required><br>

        <label for="humidity">Humidity:</label>
        <input type="text" name="humidity" required><br>

        <label for="ph">pH:</label>
        <input type="text" name="ph" required><br>

        <label for="rainfall">Rainfall:</label>
        <input type="text" name="rainfall" required><br>

        <input type="submit" value="Predict">
    </form>

    {% if recommended_crop %}
        <p>Recommended Crop: {{ recommended_crop }}</p>
    {% endif %}
</body>
</html>
